<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Carrito</title>
    <link rel="stylesheet" href="../ccs/carrito.ccs">
    <link rel="stylesheet" href="../ccs/contacto.css">
  <link rel="stylesheet" href="../ccs/boton.css">
</head>

<body>
    <header>
        <div class="contenedor-izq">
            <img src="../imageness/file.png" class="imagen">
        </div>
        <i class="navbar__toggle" id="menu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-category-2" width="35"
                height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 4h6v6h-6z"></path>
                <path d="M4 14h6v6h-6z"></path>
                <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            </svg>
        </i>

        <div class="contenedor-der" id="menu">
            <i class="navbar__close" id="menu-cerrar">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 6l-12 12"></path>
                    <path d="M6 6l12 12"></path>
                </svg>
            </i>

            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li>
                    <a href="../views/quienessomos..html">Nosotros</a>
                    <ul class="submenu">
                        <li><a href="#">vacantes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../views/productos.html">Productos</a>
                </li>
                <li><a href="../views/Contacto.html">Contacto</a></li>
                <li id="login-item">
                    <a href="../views/login.html"><img src="../imageness/acceso.png" alt="inicio"></a>
                </li>

                <li>
                    <a href="../views/carrito.html"><img src="../imageness/carrito-de-compras (4).png"
                            alt="Carrito de compras"></a>
                </li>
                <div id="user-info" class="user-info" style="display: none;">
                    <p id="username-display"></p>
                    <img id="user-image" src="../imageness/usuario.png" alt="User Image" width="30">
                    <button onclick="cerrarSesion()">Cerrar Sesión</button>
                </div>
            </ul>
        </div>

        <div class="Carrito">
            <div class="Header-carrito">
                <h2>Tu carrito</h2>
            </div>

            <div class="carrito-items">
                <div class="carrito-item">
                    <img src="../imageness/endo motor radar marca woodpecker.webp" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Denatal House</span>
                        <div class="selector-cantidad"></div>
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input type="text" value="1" class="carrito-item-cantidad" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                    </div>
                    <span class="carrito-item-precio">$25.000</span>
                </div>
                <sapn class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </sapn>
            </div>

            <div class="carrito-items">
                <div class="carrito-item">
                    <img src="../imageness/endo motor radar marca woodpecker.webp" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Denatal House</span>
                        <div class="selector-cantidad"></div>
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input type="text" value="1" class="carrito-item-cantidad" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                    </div>
                    <span class="carrito-item-precio">$25.000</span>
                </div>
                <sapn class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </sapn>
            </div>

            <div class="carrito-items">
                <div class="carrito-item">
                    <img src="../imageness/endo motor radar marca woodpecker.webp" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Denatal House</span>
                        <div class="selector-cantidad"></div>
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input type="text" value="1" class="carrito-item-cantidad" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                    </div>
                    <span class="carrito-item-precio">$25.000</span>
                </div>
                <sapn class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </sapn>
            </div>

            <div class="class-carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="class-carrito-precio-total">
                        $120.000.00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i>/button>
            </div>
        </div>
</body>

</html>