<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental House</title>
  <link rel="stylesheet" href="../ccs/contacto.css">
  <link rel="stylesheet" href="../ccs/boton.css">
</head>

<body>
  <header>
    <div class="contenedor-izq">
      <img src="../imageness/file.png" class="imagen">
    </div>
    <i class="navbar__toggle" id="menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-category-2" width="35" height="35"
        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M14 4h6v6h-6z"></path>
        <path d="M4 14h6v6h-6z"></path>
        <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        <path d="M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      </svg>
    </i>

    <div class="contenedor-der" id="menu">
      <i class="navbar__close" id="menu-cerrar">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M18 6l-12 12"></path>
          <path d="M6 6l12 12"></path>
        </svg>
      </i>

      <ul>
        <li><a href="../../index.html">Inicio</a></li>
        <li>
          <a href="../views/quienessomos..html">Nosotros</a>
          <ul class="submenu">
            <li><a href="#">vacantes</a></li>
          </ul>
        </li>
        <li>
          <a href="../views/productos.html">Productos</a>
        </li>
        <li><a href="assets/views/Contacto.html">Contacto</a></li>
        <li id="login-item">
          <a href="assets/views/login.html"><img src="../imageness/acceso.png" alt="inicio"></a>
        </li>

        <li>
          <a href="../views/carrito.html"><img src="../imageness/carrito-de-compras (2).png"
              alt="Carrito de compras"></a>
        </li>
        <div id="user-info" class="user-info" style="display: none;">
          <p id="username-display"></p>
          <img id="user-image" src="../imageness/usuario.png" alt="User Image" width="30">
          <button onclick="cerrarSesion()">Cerrar Sesión</button>
        </div>
      </ul>
    </div>
    <p id="username"></p>
  </header>

  <div class="container">
    <div class="banner">
        <div class="capa">
            <div class="contenido">
                <h1>Contacto</h1>
                <center><a href="index.html" class="button">Inicio</a></center>
            </div>
        </div>
    </div>
</div>


    <form>
      <h2>Complete este formulario para Ayudarlo en su solicitud</h2>

      <div class="input-group">
        <label for="names">Nombres</label>
        <input type="text" name="names" id="names" placeholder="Nombres">

        <label for="surnames">Apellidos</label>
        <input type="text" name="surnames" id="surnames" placeholder="Apellidos">

        <label for="email">Correo Electrónico</label>
        <input type="email" name="email" id="email" placeholder="Correo Electrónico">

        <label for="Phone">Número de Celular</label>
        <input type="tel" name="Phone" id="Phone" placeholder="Número de Celular">

        <label for="city">Ciudad</label>
        <input type="text" name="city" id="city" placeholder="Ciudad">

        <label for="message">Asunto</label>
        <textarea name="message" id="message" cols="30" rows="5" placeholder="Asunto"></textarea>
      </div>

      <div class="form-text">
        <a href="#"></a>
        <a href="#"></a>
      </div>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <div class="container2">
    <h2>Nuestra Sede</h2>
    <form>
      <div class="input-group">
        <label for="names">Bogotá</label>
        <p>713 Cl. 20A Sur 20 De Julio</p>
        <p>Teléfono: <a href="tel:+573168750417">316 875 0417</a></p>
      </div>
    </form>
  </div>


  <script src="../js/Contacto.js"></script>
</body>

</html>