<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental House</title>
  <link rel="stylesheet" href="assets/css/contacto.css">
  <link rel="stylesheet" href="assets/css/boton.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY"></script>
</head>
<body>
  <h1 class="titulo-principal">Contáctenos</h1>

  <div class="contactanos">
    <div class="izquierda">
      <div class="formulario-ayuda">
        <h1 class="Ceste">Complete este formulario para Ayudarlo en su solicitud</h1>
        <form action="" id="MiFormulario">
          <div class="form-group">
            <h1 class="Ceste">Complete este formulario para Ayudarlo en su solicitud</h1>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="apellido" placeholder="Apellido">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Correo Electrónico">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="ciudad" placeholder="Ciudad">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="asunto" placeholder="Asunto">
          </div>
          <div class="form-group">
              <textarea class="form-control" id="descripcion" placeholder="Mensaje" rows="5"></textarea>
          </div>
          <button type="submit" class="btn-primary">Enviar</button>
      </form>
        </form>
      </div>
    </div>

    <div class="derecha">
      <h2 class="sede">Nuestras sedes</h2>
      <h2>Bogotá</h2>
      <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/@4.5726943,-74.0927036,3a,75y,214.82h,93.92t/data=!3m6!1e1!3m4!1sJ1a_JHvE4dEbDEhqNtOwtw!2e0!7i16384!8i8192?hl=es&entry=ttu" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  <script src="assets/js/Contacto.js"></script>
</body>
</html>
