<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental House</title>
  <link rel="stylesheet" href="../ccs/contacto.css">
  <link rel="stylesheet" href="../ccs/boton.css">
</head>

<body>
  <header>
    <div class="contenedor-izq">
      <img src="../imageness/file.webp" class="imagen">
    </div>
    <i class="navbar__toggle" id="menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-category-2" width="35" height="35"
        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M14 4h6v6h-6z"></path>
        <path d="M4 14h6v6h-6z"></path>
        <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        <path d="M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      </svg>
    </i>

    <div class="contenedor-der" id="menu">
      <i class="navbar__close" id="menu-cerrar">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M18 6l-12 12"></path>
          <path d="M6 6l12 12"></path>
        </svg>
      </i>

      <ul>
        <li><a href="../../index.html">Inicio</a></li>
        <li>
          <a href="../views/quienessomos.html">Nosotros</a>
          <ul class="submenu">
            <li><a href="#">vacantes</a></li>
          </ul>
        </li>
        <li>
          <a href="../views/productos.html">Productos</a>
        </li>
        <li id="login-item">
          <a href="../views/login.html"><img src="../imageness/inicio de sesion 1.webp" alt="inicio"></a>
        </li>

        <li>
          <a href="../views/carrito.html"><img src="../imageness/carrito-de-compras (4).png"
              alt="Carrito de compras"></a>
        </li>
        <div id="user-info" class="user-info" style="display: none;">
          <p id="username-display"></p>
          <img id="user-image" src="../imageness/perfil.webp" alt="User Image" width="30">
          <button onclick="cerrarSesion()">Cerrar Sesión</button>
        </div>
      </ul>
    </div>
    <p id="username"></p>
  </header>

  <div class="container">
    <div class="banner">
      <div class="capa">
        <div class="contenido">
          <h1>Contacto</h1>
          <center><a href="index.html" class="button">Inicio</a></center>
        </div>
      </div>
    </div>
  </div>


  <form>
    <h2  class="formulario">Complete este formulario para Ayudarlo en su solicitud</h2>

    <div class="input-group">
      <label for="names"></label>
      <input type="text" name="names" id="names" placeholder="Nombres">

      <label for="surnames"></label>
      <input type="text" name="surnames" id="surnames" placeholder="Apellidos">

      <label for="email"></label>
      <input type="email" name="email" id="email" placeholder="Correo Electrónico">

      <label for="Phone"></label>
      <input type="tel" name="Phone" id="Phone" placeholder="Número de Celular">

      <label for="city"></label>
      <input type="text" name="city" id="city" placeholder="Ciudad">

      <label for="message"></label>
      <textarea name="message" id="message" cols="30" rows="5" placeholder="Asunto"></textarea>
    </div>
    <button type="submit">Enviar</button>
  </form>
  </div>

  <div class="container2">
    <h2 class="sede">Nuestra Sede</h2>
    <form class="lab2">
      <div class="input-group">
        <label for="names">Bogotá</label>
        <p>713 Cl. 20A Sur 20 De Julio</p>
        <p>Teléfono: <a href="tel:+573168750417">316 875 0417</a></p>
  </div>
    </form>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <div class="contenedor-izq">
          <a href="index.html">
            <img src="../imageness/file.webp" alt="Logo de la Marca" class="imagen"
              style="width: 70px; margin-top: 10px; margin-right: 20px; cursor: pointer;">
            <p class="footer-logo_text">Comprometidos con la excelencia, ofrecemos calidad superior y precios justos
              para nuestros Clientes.
            </p>
            <p class="footer-logo_text">Construimos relaciones sólidas basadas en la fidelidad y confianza en nuestros
              productos y servicios.
            </p>
            <p class="footer-logo_text">Elevamos los estándares, proporcionando soluciones odontológicas con
              integridad
              y compromiso.</p>
            <div class="footer-redes">
              <a href="https://www.instagram.com/casacomercialdentalhouse/?igshid=MzRlODBiNWFlZA%3D%3D"
                class="footer-redes__link">
                <img src="../imageness/instagram.webp" alt="Instagram" class="footer-redes__img" width="25"
                  height="25">
              </a>
              <a href="https://web.facebook.com/people/Dental-House-colombia/100067325186099/?mibextid=ZbWKwL"
                class="footer-redes__link">
                <img src="../imageness/facebook-_1_.webp" alt="Facebook" class="footer-redes__img" width="25"
                  height="25">
              </a>
              <a href="https://api.whatsapp.com/message/RGHB447VAKJTC1?autoload=1&app_absent=0"
                class="footer-redes__link">
                <!-- Reemplaza "ruta_de_whatsapp" con la ruta de tu WhatsApp -->
                <img src="../imageness/whatsapp.webp" alt="WhatsApp" class="footer-redes__img" width="25"
                  height="25">
              </a>
            </div>
          </a>
        </div>
      </div>

      <div class="footer-derechos">
        <p class="footer-derechos__text">Contacto</p>
        <p class="footer-derechos_text"><a href="mailto:dentalhouse19@gmail.com">dentalhouse19@gmail.com</a></p>
        <p class="footer-derechos_text">Bogotá: <a href="tel:+573168750417">316 875 0417</a></p>
      </div>

      <div class="footer-info">
        <p class="footer-info__text">Información</p>
        <a href="assets/views/Políticas de Privacidad.html" class="footer-info_text">Políticas de Privacidad</a>
        <br>
        <a href="../Términos de Uso de Dental House.html" class="footer-info_text">Términos de Uso de Dental House</a>
        <br>
        <a href="../Políticas de devolución.html" class="footer-info_text">Políticas de devolución</a>
      </div>
    </div>
  </footer>


  <script src="../js/Contacto.js"></script>
</body>

</html>