<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../ccs/LineaGeneral.css">
    <title>Tu Tienda en Línea</title>
</head>
<body>
    <header>
        <img src="../imageness/file.png" alt="Logo de la Marca">

        <div class="search-bar">
            <input type="text" id="search" placeholder="Buscar productos...">
            <button id="search-button">
                <img src="../imageness/buscar.png" alt="Icono de búsqueda">
            </button>
            <div id="search-results"></div>
        </div>

        <div class="cart-button">
            <a href="./carrito.html">
                <img src="../imageness/carrito-de-compras (2).png" alt="Carrito de compras">
            </a>
        </div>
    </header>
    <main>
        <div id="product-list" class="product-list"></div>
    </main>
</body>
<script src="../js/LineaGeneral.js"></script>

</html>