<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../ccs/login.css">
    <title>Registro Dental House</title>
</head>

<body>
    <body>
        <div class="contenedor">
            <form class="formulario" id="login-form">
                <div class="contenedor">
                    <form class="formulario" id="login-form">
                        <h2>Iniciar Sesión</h2>
                        <input type="text" placeholder="Usuario o correo electrónico" id="username" required>
                        <input type="password" placeholder="Contraseña" id="password" required>
                        <button type="submit">Iniciar Sesión</button>
                        <p>¿No tienes una cuenta? <a href="../ccs/Resgistro.css">Regístrate</a></p>
                    </form>
                    <p id="username-display"></p>
                </div>

            </form>
            
        </div>
        <script src="../js/login.js"></script>