<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DentalHouse</title>
    <link rel="stylesheet" href="../ccs/preuba.css">
</head>
<body>
    <div class="wrapper">
        <aside>
            <header>
                <h1 class="logo">DentalHouse</h1>
            </header>
            <nav>
                <ul>
                    <li>
                        <button class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i> Todos los
                         productos</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Prevención y Diagnóstico</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Operatoria Dental</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Endodoncia</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Periodoncia</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Cirugía Oral</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Ortodoncia</button>
                    </li>
                    <li>
                        <button class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Prótesis Dental</button>
                    </li>
                    <li>
                        <a class="boton-carrito" href="./carrito.html">
                            <i class="bi bi-cart-fill"></i>Carrito <span class="numerito">0</span></a>
                    </li>
                </ul>
            </nav>
            <footer>
                <p class="texto-footer">© 2023 DentalHouse</p>
            </footer>
        </aside>
        <main>
            <h2 class="titulo-principal">Todos los productos</h2>
            <div class="contenedor-productos">
                <div class="productos">
                    <img class="producto-imagen" src="../imageness/6ef0073f-61cc-495d-959b-d661d47c4421.png" alt="">
                    <div class="producto-detalles">
                        <h3 class="product-titulo">Cepillos 01</h3>
                        <p class="producto-pecio">$3000</p>
                        <button class="producto-agregar">Agregar</button>
                    </div>
                </div>
                <div class="productos">
                    <img class="producto-imagen" src="../imageness/6ef0073f-61cc-495d-959b-d661d47c4421.png" alt="">
                    <div class="producto-detalles">
                        <h3 class="product-titulo">Cepillos 01</h3>
                        <p class="producto-pecio">$3000</p>
                        <button class="producto-agregar">Agregar</button>
                    </div>
                </div>
                <div class="productos">
                    <img class="producto-imagen" src="../imageness/6ef0073f-61cc-495d-959b-d661d47c4421.png" alt="">
                    <div class="producto-detalles">
                        <h3 class="product-titulo">Cepillos 01</h3>
                        <p class="producto-pecio">$3000</p>
                        <button class="producto-agregar">Agregar</button>
                    </div>
                    <div class="productos">
                        <img class="producto-imagen" src="../imageness/6ef0073f-61cc-495d-959b-d661d47c4421.png" alt="">
                        <div class="producto-detalles">
                            <h3 class="product-titulo">Cepillos 01</h3>
                            <p class="producto-pecio">$3000</p>
                            <button class="producto-agregar">Agregar</button>
                        </div>
        </main>
    </div>
</body>
</html>