<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../ccs/productos.css">
    <title>Productos-DentalHouse</title>
</head>

<body>
    <header>
        <div>
            <a href="index.html">
                <img src="../imageness/file.png" alt="Logo de la Marca">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" id="search" placeholder="Buscar productos...">
            <button id="search-button">
                <img src="../imageness/buscar.png" alt="Icono de búsqueda">
            </button>
            <div id="search-results"></div>
        </div>
        <div class="cart-button">
            <a href="../views/carrito.html">
                <img src="../imageness/carrito-de-compras (2).png" alt="Carrito de compras">
            </a>
        </div>
    </header>

    <main>
        <section class="productos">
            <h2>Categoría De Productos</h2>
            <div class="producto Resinas">
                <a href="../views/Resinas.html">
                    <h1>Resinas</h1>
                    <img src="../imageness/facebook.png" alt="Resinas" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Operatoria-Dental">
                <a href="../views/Operatoria-Dental.html">
                    <h3>Operatoria-Dental</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Endodoncia">
                <a href="../views/Endodoncia.html">
                    <h3>Endodoncia</h3>
                    <img src="../imageness/facebook.png" alt="Endodoncia" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Periodoncia">
                <a href="../views/Periodoncia.html">
                    <h3>Periodoncia</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Cirugía-Oral">
                <a href="../views/producto Cirugía-Oral.html">
                    <h3>producto Cirugía-Oral</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Ortodoncia">
                <a href="../views/Ortodoncia.html">
                    <h3>Ortodoncia</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Prótesis-Dental">
                <a href="../views/Prótesis-Dental.html">
                    <h3>Prótesis-Dental</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 DentalHouse. Todos los derechos reservados.</p>
    </footer>

</body>

</html>