<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../ccs/productos.css">
    <title>Productos-DentalHouse</title>
</head>

<body>
    <header>
        <div>
            <a href="../../index.html">
                <img src="../imageness/DentalLogo.webp" alt="Logo de la Marca">
            </a>
        </div>
        <div class="search-bar">
            <div>
                <input type="text" id="search" placeholder="Buscar productos..." />
                <button id="search-button">
                    <img src="../imageness/buscar.png" alt="Icono de búsqueda" />
                </button>
            </div>

            <div id="search-results"></div>
        </div>
        <div class="cart-button">
            <a href="../views/carrito.html">
                <img src="../imageness/carrito-de-compras (2).png" alt="Carrito de compras">
            </a>
        </div>
    </header>

    <main>
        <h2>Categoría De Productos</h2>
        <section class="productos">
            <div class="producto Resinas">
                <a href="../views/Resinas.html">
                    <h1 class="color-resin">Resinas</h1>
                    <div class="cuadro">
                        <img src="../imageness/resinas.png" alt="Resinas" class="imagen">
                    </div>
                    <p class="color-info">Más información</p>
                </a>
            </div>
            <div class="producto materiales para impresión">
                <a href="../views/materiales para impresión.html">
                    <h3>Materiales Para Impresión</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Endodoncia">
                <a href="../views/Endodoncia.html">
                    <h3>Endodoncia</h3>
                    <img src="../imageness/facebook.png" alt="Endodoncia" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto LineaGeneral">
                <a href="../views/LineaGeneral.html">
                    <h3>Linea General</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Cirugía-Oral">
                <a href="../views/Instrumental.html">
                    <h3>Instrumental</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Ortodoncia">
                <a href="../views/Ortodoncia.html">
                    <h3>Ortodoncia</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Prótesis-Dental">
                <a href="../views/Bioseguridad-y-Esterilización.html">
                    <h3>Bioseguridad y Esterilización</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Prótesis-Dental">
                <a href="../views/estética-pulido-y-rehabil.html">
                    <h3>estética, pulido y rehabil</h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
            <div class="producto Prótesis-Dental">
                <a href="../views/equipos-y-repuestos.html">
                    <h3>equipos y repuestos </h3>
                    <img src="" alt="" class="imagen">
                    <p>Más información</p>
                </a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
          <div class="footer-logo">
            <div class="contenedor-izq">
              <a href="index.html">
                <img src="../imageness/DentalLogo.webp" alt="Logo de la Marca" class="imagen"
                  style="width: 70px; margin-top: 10px; margin-right: 20px; cursor: pointer;">
                <p class="footer-logo_text">Comprometidos con la excelencia, ofrecemos calidad superior y precios justos para nuestros Clientes.
                </p>
                <p class="footer-logo_text">Construimos relaciones sólidas basadas en la fidelidad y confianza en nuestros productos y servicios.
                </p>
                <p class="footer-logo_text">Elevamos los estándares, proporcionando soluciones odontológicas con integridad y compromiso.</p>
                <div class="footer-redes">
                  <a href="https://www.instagram.com/casacomercialdentalhouse/?igshid=MzRlODBiNWFlZA%3D%3D"
                    class="footer-redes__link">
                    <img src="../imageness/instagram.png" alt="Instagram" class="footer-redes__img" width="25" height="25">
                  </a>
                  <a href="https://web.facebook.com/people/Dental-House-colombia/100067325186099/?mibextid=ZbWKwL"
                    class="footer-redes__link">
                    <img src="../imageness/facebook.png" alt="Facebook" class="footer-redes__img" width="25" height="25">
                  </a>
                  <a href="https://api.whatsapp.com/message/RGHB447VAKJTC1?autoload=1&app_absent=0"
                    class="footer-redes__link">
                    <!-- Reemplaza "ruta_de_whatsapp" con la ruta de tu WhatsApp -->
                    <img src="../imageness/whattsap.png" alt="WhatsApp" class="footer-redes__img" width="25" height="25">
                  </a>
                </div>
              </a>
            </div>
          </div>
      
          <div class="footer-derechos">
            <p class="footer-derechos__text">Contacto</p>
            <p class="footer-derechos_text"><a href="mailto:dentalhouse19@gmail.com">dentalhouse19@gmail.com</a></p>
            <p class="footer-derechos_text">Bogotá: <a href="tel:+573168750417">316 875 0417</a></p>
          </div>
      
          <div class="footer-info">
            <p class="footer-info__text">Información</p>
            <a href="../Términos de Uso de Dental House.html" class="footer-info_text">Políticas de Privacidad</a>
            <br>
            <a href="url_de_tus_politicas_de_privacidad" class="footer-info_text">Términos de Uso de Dental House</a>
            <br>
            <a href="url_de_tus_politicas_de_privacidad" class="footer-info_text">Políticas de devolución</a>
          </div>
        </div>
      </footer>

</body>

</html>