<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quienes somos-Dental House</title>
  <link rel="icon" href="../imageness/file.webp" type="image/png">
  <link rel="stylesheet" href="../ccs/Quienes-Somos.css">

  <div class="wrapper">
    <header>
      <div class="contenedor-izq">
        <img src="../imageness/file.webp" alt="Logo de la pagina" class="imagen">
      </div>
      <i class="navbar__toggle" id="menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-category-2" width="35" height="35"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14 4h6v6h-6z"></path>
          <path d="M4 14h6v6h-6z"></path>
          <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
          <path d="M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        </svg>
      </i>

      <div class="contenedor-der" id="menu">
        <i class="navbar__close" id="menu-cerrar">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="35" height="35"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </i>

        <ul>
          <li><a href="../../index.html" class="active">Inicio</a></li>
          <li><a href="../views/productos.html">Productos</a></li>
          <li><a href="../views/Contacto.html">Contacto</a></li>
          <li id="login-item">
          <a href="../views/login.html"><img src="../imageness/acceso.png" alt="inicio"></a>
        </li>
        </ul>
      </div>
    </header>


    
    <main class="main">
      <div class="info-content">
        <h1>¿<span>Quienes</span> somos?</h1>
        <p>Somos una casa comercial especializada en la distribución de insumos y equipos odontológicos, comprometida
          con la calidad y precios justos para nuestros odontólogos. Establecemos relaciones sólidas basadas en la
          fidelidad y confianza en nuestros productos y servicios.

          Cumplimos con los estándares exigidos por la DIAN y la Secretaría de Salud en cuanto a la emisión de
          facturación electrónica e Invima, asegurando la calidad y seguridad de nuestros productos. Nuestros
          certificados están siempre actualizados para garantizar la tranquilidad de nuestros clientes.

          No aplicamos costos adicionales por domicilio, priorizando la economía y comodidad de quienes confían en
          nosotros. Nuestro equipo está comprometido en satisfacer las necesidades y superar las expectativas de
          nuestros clientes cada día</p>
      </div>
      <img src="../imageness/file.webp" alt="">
    </main>

    <head>
      <title>Perfil de Trabajador</title>
    </head>

<body>

  <div class="contenedor-trabajador">
    <div class="info-personal">
      <img src="../imageness/empleado3.webp" alt="Foto de Juan Pérez" width="250" height="250">
      <h2>Carlos Andres Ladino Sanchez </h2>
      <p>Admisnatrador y supervisor</p>
    </div>
    <div class="info-profesional">
      <p>Descripción de tareas</p>
    </div>
  </div>
  <br>
  <div class="contenedor-trabajador">
    <div class="info-personal">
      <img src="../imageness/empleadap.webp" alt="Foto de Juan Pérez" width="250" height="250">
      <h2>Laura Jimena Herrera Vega</h2>
      <p>Asistente Administrativa y de Producción</p>
    </div>
    <div class="info-profesional">
      <p>Atender las solicitudes de los vendedores y gestionar el despacho de pedidos.</p>
      <p>Manejar solicitudes del programa y asistir al contador con las necesidades contables</p>
      <p> Gestionar planillas y mantener los comprobantes de cuentas por pagar actualizados y organizado.</p>
      <p>Administrar las cuentas por pagar a proveedores, realizando pagos según las fechas de vencimiento de las
        facturas</p>
      <p> Mantener actualizada la cartera de asesores</p>
      <p> Atender y gestionar las ventas a través de la vitrina</p>
      Realizar pedidos para mantener un inventario actualizado y adecuado</p>
    </div>
  </div>
  <br>
  <div class="contenedor-trabajador">
    <div class="info-personal">
      <img src="../imageness/empleada.webp" alt="Foto de Juan Pérez" width="250" height="250">
      <h2>Yustin Yesenia Avilan Arjona</h2>
      <p>Asistente Administrativa y de Producción</p>
    </div>
    <div class="info-profesional">
      <p>Mantener el área administrativa organizada.</p>
      <p>Gestionar y mantener la ruta en orden, incluyendo la conciliación diaria de rutas con facturas</p>
      <p>Manejar la cartera general y gestionar los pedidos del área dental y de dos asesores</p>
      <p>Realizar pedidos para mantener un inventario actualizado</p>
      <p>Mantener documentos de secretaría al día</p>
      <p>Gestionar y contabilizar las facturas de compra</p>
      <p>Calcular costos, etiquetar productos y registrar cambios en el grupo</p>
      <p>Registrar pagos y controlar las facturas diarias y ventas en la vitrina</p>
      <p>Mantener el control del inventario</p>
      <p>Manejar labores relacionadas con la contabilidad</p>
    </div>
  </div>
  <br>
  <div class="contenedor-trabajador">
    <div class="info-personal">
      <img src="../imageness/hombre1.webp" alt="Foto de Juan Pérez" width="250" height="250">
      <h2>Jose Lozano Saavedra</h2>
      <p>Mensajero</p>
    </div>
    <div class="info-profesional">
      <p>Responsables de distribuir los productos siguiendo las rutas y direcciones solicitadas por los doctores. Su
        labor incluye entregar la mercancía en excelente estado y estar disponibles para atender cualquier solicitud,
        incluyendo la recolección de artículos según sea necesario</p>
    </div>
  </div>
  <br>
  <div class="contenedor-trabajador">
    <div class="info-personal">
      <img src="../imageness/empleados2.webp" alt="Foto de Juan Pérez" width="250" height="250">
      <h2>Francisco</h2>
      <p>Mensajero</p>
    </div>
    <div class="info-profesional">
      <p>Responsables de distribuir los productos siguiendo las rutas y direcciones solicitadas por los doctores. Su
        labor incluye entregar la mercancía en excelente estado y estar disponibles para atender cualquier solicitud,
        incluyendo la recolección de artículos según sea necesario</p>
    </div>
  </div>







  <div>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-logo">
          <div class="contenedor-izq">
            <a href="index.html">
              <img src="../imageness/file.webp" alt="Logo de la Marca" class="imagen"
                style="width: 70px; margin-top: 10px; margin-right: 20px; cursor: pointer;">
              <p class="footer-logo_text">Comprometidos con la excelencia, ofrecemos calidad superior y precios justos para nuestros Clientes.
              </p>
              <p class="footer-logo_text">Construimos relaciones sólidas basadas en la fidelidad y confianza en nuestros productos y servicios.
              </p>
              <p class="footer-logo_text">Elevamos los estándares, proporcionando soluciones odontológicas con integridad y compromiso.</p>
              <div class="footer-redes">
                <a href="https://www.instagram.com/casacomercialdentalhouse/?igshid=MzRlODBiNWFlZA%3D%3D"
                  class="footer-redes__link">
                  <img src="../imageness/instagram.webp" alt="Instagram" class="footer-redes__img" width="25" height="25">
                </a>
                <a href="https://web.facebook.com/people/Dental-House-colombia/100067325186099/?mibextid=ZbWKwL"
                  class="footer-redes__link">
                  <img src="../imageness/facebook-_1_.webp" alt="Facebook" class="footer-redes__img" width="25" height="25">
                </a>
                <a href="https://api.whatsapp.com/message/RGHB447VAKJTC1?autoload=1&app_absent=0"
                  class="footer-redes__link">
                  <!-- Reemplaza "ruta_de_whatsapp" con la ruta de tu WhatsApp -->
                  <img src="../imageness/whatsapp.webp" alt="WhatsApp" class="footer-redes__img" width="25" height="25">
                </a>
              </div>
            </a>
          </div>
        </div>
    
        <div class="footer-derechos">
          <p class="footer-derechos__text">Contacto</p>
          <p class="footer-derechos_text"><a href="mailto:dentalhouse19@gmail.com">dentalhouse19@gmail.com</a></p>
          <p class="footer-derechos_text">Bogotá: <a href="tel:+573168750417">316 875 0417</a></p>
        </div>
    
        <div class="footer-info">
          <p class="footer-info__text">Información</p>
          <a href="../Términos de Uso de Dental House.html" class="footer-info_text">Políticas de Privacidad</a>
          <br>
          <a href="url_de_tus_politicas_de_privacidad" class="footer-info_text">Términos de Uso de Dental House</a>
          <br>
          <a href="url_de_tus_politicas_de_privacidad" class="footer-info_text">Políticas de devolución</a>
        </div>
      </div>
    </footer>
  </div>
  <script src="../js/quienessomos.js"></script>
</body>

</html>