<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../ccs/Resgistro.css">
    <title>Registro</title>
</head>
<body>
    <div class="contenedor">
        <form class="formulario" id="registro-form">
            <h1>Regístrate</h1>
            <input type="text" placeholder="Nombre completo" id="name" required>
            <input type="text" placeholder="Apellido" id="apellidos" required>
            <input type="email" placeholder="Correo electrónico" id="email" required>
            <input type="password" placeholder="Contraseña" id="pass" required>
            <label for="genero">Género:</label>
            <select id="genero" name="genero" id="genero" required>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
            <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
            <input type="date" name="fecha-nacimiento" id="fecha" required>
            <button type="submit">Crear cuenta</button>
            <p class="mensaje">¿Ya tienes una cuenta? <a href="assets/views/login.html">Iniciar sesión</a></p>
        </form>
    </div>
    <script src="assets/js/registro.js"></script>
</body>
</html>