<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../ccs/Prótesis-Dental.css" />
    <title>Tu Tienda en Línea</title>
</head>

<body>
    <header>
        <img src="../imageness/file.webp" alt="Logo de la Marca" />

        <div class="search-bar">
            <div>
                <input type="text" id="search" placeholder="Buscar productos..." />
                <button id="search-button">
                    <img src="../imageness/buscar.png" alt="Icono de búsqueda" />
                </button>
            </div>

            <div id="search-results"></div>
        </div>

        <div class="cart-button">
            <a href="../views/carrito.html">
                <img src="../imageness/carrito-de-compras (2).png" alt="Carrito de compras" />
            </a>
        </div>
    </header>
    <main>
        <aside>
            <ul>
                <div>
                    <li>
                        <span class="rating">
                            <i class="fa fa-estrella"></i>
                            <i class="fa fa-estrella"></i>
                            <i class="fa fa-estrella"></i>
                            <i class="fa fa-estrella"></i>
                            <i class="fa fa-estrella-o"></i>
                        </span>
                        Reseña del Cliente
                    </li>
                </div>
                <li id="marca-filter">Marca</li>
                <li>Precio</li>
                <li>Ofertas y Descuentos</li>
            </ul>
        </aside>
        <div id="product-list" class="product-list"></div>
    </main>
</body>
<script src="../js/Resinas.js"></script>

</html>