body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    height: 100vh;
}

/* Estilo del contenedor principal */
.contenedor {
    max-width: 500px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilo del título */
.titulo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: #2e8b57;
}

/* Estilo de los campos de formulario */
.campo-formulario {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    margin-bottom: 20px;
}

.campo-formulario:focus {
    outline: none;
    border-color: #2e8b57;
}

/* Estilo del botón de enviar */
.boton-enviar {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2e8b57;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #228b22;
}

.imagenes {
    display: flex;
}

.imagenes img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}