.footer{
    background-color: #51893a;
    color: white;
    padding: 10px 0px 0px 0xp;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-redes{
    margin: 10px;
}

.footer-redes__link{
    display: inline-block;
    margin: 10px;
}

.footer-logo__img{
    width: 80px;
}

.footer-redes__img{
    width: 35px;
}

.footer-derechos{
    text-align: center;
    background-color: #51893a;
    padding: 10px 0px;
}

@media screen and (max-width: 480px) {
    
}
