body {
    font-family: Arial, sans-serif;
  }
  
  .productos-lista {
    list-style-type: none;
    padding: 0;
  }
  
  .producto-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .producto-item img {
    width: 100px;
    margin-right: 20px;
  }
  
  .producto-info h2 {
    margin-top: 0;
  }
  
  .reseñas-seccion {
    display: none;
  }
  
  .reseñas-seccion h2 {
    margin-top: 0;
  }
  
  .reseñas-lista {
    /* Estilos para la lista de reseñas */
  }
  