/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación superior */
.Navegación-arriba {
    background-color: #51893a;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Navegación-arriba img {
    height: 30px;
    margin-left: 20px;
}

.search {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.search input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.search button {
    background-color: #FFFFFF;
    color: #51893a;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.account-cart a {
    color: #FFFFFF;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para el contenido principal */
.main {
    padding: 20px;
}

.carousel {
    /* Estilos para el carrusel de imágenes destacadas */
}

.recommended-products {
    /* Estilos para la sección de productos recomendados */
}

/* Estilos para el pie de página */
footer {
    background-color: #51893a;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

.footer{
    background-color: #51893a;
    color: white;
    padding: 10px 0px 0px 0xp;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-redes{
    margin: 10px;
}

.footer-redes__link{
    display: inline-block;
    margin: 10px;
}

.footer-logo__img{
    width: 80px;
}

.footer-redes__img{
    width: 35px;
}

.footer-derechos{
    text-align: center;
    background-color: #51893a;
    padding: 10px 0px;
}
