* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 255, 255);
    margin: 0;
  }

  header {
    height: 90px;
    width: 100%;
    background-color: #51893a;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #51893a
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0;
}

.brand {
    margin-top: -7px
  }

  .brand span{
    color: #000000
  }

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

.menu  li {
    list-style: none;
  }

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; 
  }

.menu li:hover a{
    background-color: #51893a;
    color: #191c32;
  }

.menu .active {
    color: rgb(255, 255, 255);
   
  }

  .menu li a:hover {
    color: #ffffff;
  }
  
  
  .main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
  }
  
  h1 {
    font-size: 3em;
  }
  
  .info-content span {
    color: rgb(0, 0, 0);
  }

  footer{
    background-color: #51893a;
    color: white;
    padding: 10px 0px 0px 0xp;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-redes{
    margin: 10px;
}

.footer-redes__link{
    display: inline-block;
    margin: 10px;
}

.footer-logo__img{
    width: 80px;
}

.footer-redes__img{
    width: 35px;
}

.footer-derechos{
    text-align: center;
    background-color: #51893a;
    padding: 10px 0px;
}