@import "banner.css";
@import "footer.css";
@import "contacto.css";
@import "imagenes.css";
body {

    background-size: 100%;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    margin: 0%;
}

header {
    height: 90px;
    width: 100%;
    background-color: #79ac78;
}

.contenedor-izq {
    height: 90px;
    width: 30%;
    float: left;
}

.contenedor-der {
    height: 90px;
    width: 70%;
    float: right;
}
ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
    cursor: pointer;
    margin-right: 10px;
}
ul li {
    margin-top: 20px;
    color: white;
}

.submenu {
    display: none; /* esto Oculta el submenú por defecto */
    position: absolute;
    top: 100%; /* esto Coloca el submenú debajo del elemento padre */
    left: 0;
    background-color: #fff; /* esto le da Color de fondo del submenú */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* esto ayuda a dar Sombra para el submenú */
    z-index: 1; /* Asegura que el submenú esté sobre otros elementos */
}

li:hover .submenu {
    display: block;
}
.submenu li {
    display: block;
    margin: 0;
    padding: 10px 15px;
    
}
.submenu a {
    color: #333;
}
.submenu li:hover a {
    color: green;
}

@media screen and (max-width: 480px) { 
    header{ height: 250px; 
    } ul {
         display: flex; flex-direction: column;
          gap: 0; 
        } 
    }