@import "banner.css";
@import "footer.css";
@import "contacto.css";
@import "imagenes.css";
body {

    background-size: 100%;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    margin: 0;
}

header {
    height: 90px;
    width: 100%;
    background-color: #79ac78;
}

.contenedor-izq {
    height: 90px;
    width: 30%;
    float: left;
}

.contenedor-der {
    height: 90px;
    width: 70%;
    float: right;
}
ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0;
}
ul li {
    margin-top: 20px;
    color: white;
    
}
a{
    color: white;
    text-decoration: none;
}
.submenu {
    display: none;
    position: absolute;
    
}

li:hover > .submenu {
    display: block;
}
.submenu li {
    display: block;
    margin: 0;
    padding: 10px 0px;
    
}
.submenu a {
    color: white ; 
    text-decoration: none;
    
}
.submenu li:hover a {
    color: green;
}

@media screen and (max-width: 480px) { 
    header{ height: 250px; 
    } ul {
         display: flex; flex-direction: column;
          gap: 0; 
        } 
    }