@import "banner.css";
@import "footer.css";
@import "contacto.css";
@import "imagenes.css";

:root {
    --main-bg-color: #ADD8E6;
    --text-color: #000000;
    --link-hover-color: #000000;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-size: 100%;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imagen{
    width: 50px;
    border-radius: 5px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    padding: 15px;
    box-shadow: 0px 4px 19px -10px rgba(0, 0, 0, 1);
}

li:hover>.submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 0;
    padding: 10px 0px;

}

.submenu a {
    color: #000000;
    text-decoration: none;
}

.submenu li:hover a {
    color: #ADD8E6;
}

.PMV {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 700;
}
/* Estilos generales para los testimonios */
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    background-color: #C0DFF6
  }
  
  .testimonial-imagen {
    text-align: left;
    max-width: 100%;
  }
  
  .img-dental {
    border-radius: 50%;
  }
  
  .testimonial-user {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .testimonial-user-company {
    color: #000000;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .testimonial-star-rating {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .testimonial-star-rating li {
    margin-right: 5px;
  }
  
  /* Estilos para el contenido del testimonio */
  .testimonial-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .testimonial-text {
    font-size: 1em;
    line-height: 1.4;
    color: #555;
  }
  
  .testimonial-quote {
    font-size: 2em;
    color: #888;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Estilos para las estrellas usando FontAwesome (asegúrate de incluir FontAwesome en tu proyecto) */
  .testimonial-star-rating i::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f005'; /* Código Unicode para una estrella sólida */
    color: #FFD700; /* Color amarillo para las estrellas */
  }

  .fa-solid .fa-star {

  }
@media screen and (max-width: 480px) {
    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 20px;
        margin-top: 40px;
    }

    .contenedor-der {
        display: none;
        height: 100vh;
        width: 80%;
        background-color: #ADD8E6;
        right: -100%;
        top: 0;
        box-shadow: 0px 4px 19px -10px rgba(0, 0, 0, 1);
        transition: right 0.4s;
    }

.navbar__toggle, 
.navbar__close {
        display: block !important;
    }
}   

.toggle {
    display: none;
}

.mostrar-menu {
    display: block;
    right: 0;
}

.navbar__toggle,
.navbar__close {
    display: none;
    color: #FFF;
    cursor: pointer;
}

.navbar__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}