@import "banner.css";
@import "footer.css";
@import "contacto.css";
@import "imagenes.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100%;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #ADD8E6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagen{
    width: 50px;
    border-radius: 5px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #000000;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #ADD8E6;
    padding: 15px;
    box-shadow: 0px 4px 19px -10px rgba(0, 0, 0, 1);
}

li:hover>.submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 0;
    padding: 10px 0px;

}

.submenu a {
    color: #000000;
    text-decoration: none;
}

.submenu li:hover a {
    color: #ADD8E6;
}

.PMV{
    color: #000000
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 700;
}

#testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ADD8E6;
    text-align: left;
    flex: 1 0 50%;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.testimonial-text {
    font-style: italic;
    margin-bottom: 5px;
}

.testimonial-autor {
    font-weight: bold;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 20px;
        margin-top: 40px;
    }

    .contenedor-der {
        display: none;
        height: 100vh;
        width: 80%;
        background-color: #ADD8E6;
        right: -100%;
        top: 0;
        box-shadow: 0px 4px 19px -10px rgba(0, 0, 0, 1);
        transition: right 0.4s;
    }

.navbar__toggle, 
.navbar__close {
        display: block !important;
    }
}   

.toggle {
    display: none;
}

.mostrar-menu {
    display: block;
    right: 0;
}

.navbar__toggle,
.navbar__close {
    display: none;
    color: #FFF;
    cursor: pointer;
}

.navbar__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}