/* Estilos para el carrito */
.carrito {
  border: 1px solid #2e8b57;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky;
  top: 0;
  transition: 0.3s;
}

/* Estilos generales */
body {
  background: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Estilos para el encabezado */
header {
  width: 100%;
  background-color: #ADD8E6;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen {
  width: 50px;
  border-radius: 5px;
}

/* Estilos para los enlaces */
ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 40px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #333;
}

/* Estilos para los submenús */
.submenu {
  display: none;
  position: absolute;
  background-color: #ADD8E6;
  padding: 15px;
  box-shadow: 0px 4px 19px -10px rgba(0, 0, 0, 1);
}

li:hover > .submenu {
  display: block;
}

.submenu li {
  display: block;
  margin: 0;
  padding: 10px 0px;
}

.submenu a {
  color: white;
  text-decoration: none;
}

.submenu li:hover a {
  color: green;
}

/* Estilos para PMV */
.PMV {
  color: #ADD8E6;
  font-size: 2em;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 700;
}

/* Estilos para el contenedor */
.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el grupo de formulario */
.form-group {
  margin-bottom: 15px;
}

/* Estilos para la entrada de formulario */
input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Estilos para el botón de formulario */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
