/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}


.input-group {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #51893a;
  font-size: 19px;
}

label {
  color: #51893a;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block; /* Hace que cada etiqueta esté en una nueva línea */
}


input, textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: #FFFFFF;
  color: #51893a;
  outline: none;
  width: 100%; /* O ajusta según sea necesario */
}

.sede {
  margin: -9px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}

.Ceste {
  color: #FFFFFF;
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.banner {
  form {
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre el banner y el formulario */
  }
}  

.banner img {
  max-width: 100px;
  height: auto;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; /* Ajusta según sea necesario */
  width: 100%;
}