/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}


.input-group {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #ff9900;
  font-size: 19px;
}

label {
  color: #ff9900;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block; /* Hace que cada etiqueta esté en una nueva línea */
}


input, textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: #FFFFFF;
  color: #ff9900;
  outline: none;
  width: 100%; /* O ajusta según sea necesario */
}

.sede {
  margin: -9px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}

.Ceste {
  color: #FFFFFF;
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.banner {
position: relative;
width: 100%;
height: 100vh;
background-image: url(../imageness/pexels-pixabay-326576.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contenido {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contenido h1 {
  margin: 20px;
  font-size: 30px;
}

.contenido .button {
  text-decoration: none;
  color: #FFFFFF;
  padding: 9px 20px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  transition: all .3s ease-in-out;
  width: 150px;
}

form {
    width: 100%;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre el banner y el formulario */
  }
  
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 1200px;
  height: 245px;
}

.form2 {
  width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre el banner y el formulario */
}