button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: navajowhite; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.productImg {
    max-width: 100%;
    height: auto;
    width: 150px;
    max-height: 100%
}

.productName {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}