.footer {
    display: flex;
    justify-content: space-around;
    background-color: #ADD8E6;
    color: black;
    padding: 40px;
    font-family: Arial, sans-serif;
    flex-direction: row; /* Modificado para alinear elementos en fila */
  }
  
  .footer-derechos,
  .footer-info,
  .footer-logo {
    flex: 1;
    text-align: left;
  }
  
  .footer-derechos_text,
  .footer-info_text,
  .footer-logo_text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    color: black; /* Cambiado a verde, ajusta según sea necesario */
  }
  
  .footer-derechos a,
  .footer-info a,
  .footer-logo a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
  }
  
  .footer-derechos a:hover,
  .footer-info a:hover,
  .footer-logo a:hover {
    color: #ff9900; /* Cambiado a rojo, ajusta según sea necesario */
  }
  
  

@media screen and (max-width: 480px) {
    .footer-logo{
        width: 200px;
    }
}