body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #ADD8E6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    width: 100px;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    color: white;
    text-decoration: none;
}

#search {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
}
#search-button img {
    width: 20px;
    height: 20px;
}
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-left: 210px;
    max-width: 1480px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}

.producto {
    width: 420px;
    height: 350px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;
}

.img {
    width: 100%;
}

footer {
    background-color: #ADD8E6;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
}

.imagen-producto {
    width: 100%;
    height: 180px; /* Altura de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imagen-producto img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.enlace-mas-info {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

.cuadro {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;

}

.imagen {
    max-width: 100%; /* la imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* la altura se ajustará automáticamente para mantener la proporción original */
    display: block;
    margin: 0 auto;
}

.color-info{
    color:black;
    background: linear-gradient(45deg, #fff, #fff);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

.color-resin{
    color:black;
    background: linear-gradient(45deg, #fff, #fff);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0 10px 0;
}

#search {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
}

#search-button {
    background: #ff9900;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

#search-button img {
    width: 20px;
    height: 20px;
}

.search-bar{
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #ADD8E6;
    color: black;
    padding: 40px;
    font-family: Arial, sans-serif;
    flex-direction: row; /* Modificado para alinear elementos en fila */
  }
  
  .footer-derechos,
  .footer-info,
  .footer-logo {
    flex: 1;
    text-align: left;
  }
  
  .footer-derechos_text,
  .footer-info_text,
  .footer-logo_text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    color: black; /* Cambiado a verde, ajusta según sea necesario */
  }
  
  .footer-derechos a,
  .footer-info a,
  .footer-logo a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
  }
  
  .footer-derechos a:hover,
  .footer-info a:hover,
  .footer-logo a:hover {
    color: #ff9900; /* Cambiado a rojo, ajusta según sea necesario */
  }

@media screen and (min-width: 850px) {
.productos {
 margin-left: 0; /* Puedes ajustar los márgenes para alinear los productos */
    }

.producto {
width: 350px; /* Cambia el ancho del producto a 200px en pantallas más grandes */
height: 420px; /* Ajusta la altura de los productos */
box-shadow: -2px -2px 10px;
text-align: center;
    }

    /* Agrega otras reglas para pantallas más grandes según tus necesidades */
}